.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 50px;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: width 0.3s ease;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.sidebar.open {
  width: 250px;
}

.toggle-button {
  width: 100%;
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  border: none;
  padding: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  flex-grow: 1;
}

.sidebar.open .nav-links {
  opacity: 1;
  visibility: visible;
  padding: 20px;
}

.nav-links a {
  color: var(--sidebar-text);
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: var(--font-size-base);
}

.nav-links a:hover {
  color: #ddd;
  background-color: var(--sidebar-hover);
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 50px;
  transition: margin-left 0.3s ease;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar.open + .content {
  margin-left: 250px;
}

.logout-button {
  width: 100%;
  background: var(--logout-button);
  color: var(--sidebar-text);
  border: none;
  padding: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.sidebar.open .logout-button {
  opacity: 1;
  visibility: visible;
}

.logout-button:hover {
  background-color: var(--logout-button-hover);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .content {
    padding: 15px;
  }
  
  .sidebar.open {
    width: 200px;
  }
  
  .sidebar.open + .content {
    margin-left: 200px;
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 576px) {
  .sidebar.open {
    width: 100%;
    position: fixed;
  }
  
  .sidebar.open + .content {
    margin-left: 0;
    opacity: 0.3;
    pointer-events: none;
  }
}